{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Pacifico&family=Poppins:wght@100;300&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}
</head>
<body>
    <div id="bg" style="background-image: url('{% static "images/ecommerce.jpg"%}');">

    </div> 
    <br>
    <br>
    <h3 class="text-center" style="font-family: 'Poppins', sans-serif;">Featured Products</h3> 
    <br>           
                <div class="row">

                    {% if products %}
                    {% for product in products %}
                    <div class="col-md-3 col-sm-3 col-lg-2">
                        <a href="">
                        <div class="card mb-4" style="height:25rem; width:auto;font-family: 'Poppins', sans-serif; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);margin-bottom:20px; border-radius: 10px; padding:10px; margin-right:40px;margin-left:40px;">
                            
                            <div class="card-body" style="margin-bottom:20px;">
                                
                                <img src="{{ product.product_pic.url }}" class="card-img-top" alt="{{ product.name }}" style="height:15rem;background-size:cover;">
                                <br>
                        
                                <div style="margin-top:10px; font-weight:bold;">
                                    <p class="card-title text-center">{{ product.name }}</p>
                                    <div style="background:black;height:3px;opacity:60%">
                                    

                                    </div>
                                    <p class="card-text text-center" style="font-size:18px;color:red; margin-top:10px;font-weight:bold;">Ksh: {{product.price}}.</p>
                                </div>

                                <br>
                                
                            </div>
                        </div>
                     </div>
                    </a>
                     {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <button style="font-family: 'Poppins', sans-serif; font-size:16px;font-weight:bold; background-color: green; color: white; padding: 16px 20px; border: none; cursor: pointer; opacity: 0.8; position: fixed;  bottom: 23px;  right: 28px; width: 200px; " onclick="openForm()">Chat with us</button>

    <div style="  display: none; position: fixed; bottom: 0;right: 15px; border: 3px solid #f1f1f1;  z-index: 20;" id="myForm"> <form action="/action_page.php" style="  width: 300px; height:500px; padding: 10px; background-color: white;"> <label for="msg"><b>Message</b></label>
        
        <div style="background-color: #ddd; outline: none;">
            <textarea rows="10" cols="32"  placeholder="Type message.." name="msg" required></textarea>
        </div>
        

        <button type="submit" class="btn btn-success">Send</button>
        <button type="button" class="btn btn-danger cancel" onclick="closeForm()">Close</button>
    </form>
    </div>
    <br>
    <br>
    <br>
    <br>
<div style="background:black;">
    <footer>
        <div class="container" style="display:flex;flex-direction:row; padding-top:40px;justify-content:space-around;" >
            <div style="margin-right:100px;">
                <h1 style="color:red;font-weight:bold; line-height:20px;">Shoplify</h1>
                <ul style="margin-top:30px;">
                    <li>
                        <p><a href="#" style="color:white;" >About Us</a></p>
                        <p><a href="#" style="color:white;">Careers</a></p>
                        <p><a href="#" style="color:white;">Terms and Conditions</a></p>
                        <p><a href="#" style="color:white;">Return Policy</a></p>
                    </li>
                </ul>
            </div>
            <div style="width:300px; margin-right:70px;">
                <p style="color:white;" >New to Shoplify? Subscribe to our Newsletter</p>
                <div class="container-fluid">

                    <form  action="{%url 'indexpage'%}" method="post">
                      {%csrf_token%}
                  
                      {% bootstrap_form letterForm layout='inline' %}
                      <input class="btn btn-danger" type="submit" value="Subscribe">
                    </form>
                  
                  </div>

            </div>
            <div>
                <a href=""><img src="{% static 'images/googlestore.png'%}" alt="google icon" height="50px;" width="200px"><span><img src="{% static 'images/appstore.png'%}" alt="appstore icon"  height="50px;" width="200px"></p></a>
                
             </div>

        </div>
        

    
    </footer>

</div>


<script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>
{% endblock %}